<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlite:/c:/adatbazis/feladat.db</property>
        <mapping class="org.example.Dolgozó"/>
    </session-factory>
</hibernate-configuration>